@tailwind base;
@tailwind components;
@tailwind utilities;

.w-50 {
  width: 50%;
}

.w-200px {
  width: 200px;
}

.w-fit-content {
  width: fit-content;
}

.mg-auto {
  margin: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4px {
  margin-top: 4px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.max-w-160px {
  max-width: 160px;
}

.button-selected {
  background-color: rgb(33 150 243 / 0.5);
}

.carousel {
  height: 350px;
}

.text-right {
  text-align: right;
}

.gradient-back {
  color: #4fc3f7;
}

.gradient-lay {
  color: #f4511e;
}

.profit-color {
  color: skyblue;
}

.customized-wallet > .wallet-adapter-dropdown > button {
  color: black;
}

.customized-wallet > .wallet-adapter-dropdown > button:hover {
  background-color: #55555522;
}

.customized-wallet > ul {
  display: flex;
}

.wallet-adapter-modal {
  z-index: 999999;
  height: 100vh;
  width: 100vw;
}

.left-\[285px\] {
  left: 285px;
}

.left-\[15px\] {
  left: 15px;
}

.left-\[0px\] {
  left: 0px;
}

.left-\[-300px\] {
  left: -300px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media only screen and (max-width: 767px) {
  .logo-text {
    display: none;
  }
  
  .customized-wallet > .wallet-adapter-dropdown > button {
    line-height: unset;
    padding: 0;
  }

  .header-button {
    padding: 2px;
  }

}